* {
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-out;
}

html,
body {
    height: 100%;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: lightgray;
        color: #1a1a1a;
    }

    a {
        color: #1a1a1a;
        text-decoration: none;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a1a1a;
        color: whitesmoke;
        text-shadow: 1px 1px black;
    }

    a {
        color: whitesmoke;
        text-decoration: none;
    }
}

#sidebar-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20rem;
    margin-bottom: 2rem;
}

#sidebar-menu .bg {
    position: absolute;
    background-color: rgb(100, 56, 72, 0.75);
    width: 100%;
    height: 22rem;
    z-index: 0;
}

#sidebar-menu header {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    flex: 0 0 auto;
    z-index: 1;
}

#sidebar-menu header img {
    width: 75%;    
}

#sidebar-menu .navbody {
    text-align: center;
    flex: 0 0 auto;
    z-index: 1;
}

#sidebar-menu .navbody a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
}

#sidebar-menu .navbody a:hover {
    color: #4CAF50;
    background-color: #555;
    font-weight: bold;
}

#sidebar-menu footer {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 22rem);
    text-align: center;
    padding: 2rem 2rem 2rem 2rem;    
}

.container #container-body {
    flex: 1 0 auto;
}

.container #container-foot {    
    flex: 0 0 auto;
}

.container #container-foot a {
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.container #container-foot a:hover {
    color: #4CAF50;
    background-color: #555;
    font-weight: bold;
}

.container img {
    width: 35%;
    height: auto;
}

li {
    list-style-type: none;
}

img.ico {
    width: 1rem;
    display: inline-block;
    margin: 0 0.5rem 0 0;
}

a.active {
    background-color: #4CAF50;
    color: whitesmoke;
    font-weight: bold;
}

/* 按钮 */
button {
    border: none;
    background-color: #555;
    padding: 0.75rem 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

button:hover {
    color: #4CAF50;
    background-color: whitesmoke;
    font-weight: bold;
}

button:focus {
    color: whitesmoke;
    background-color: #4CAF50;
    font-weight: bold;
}