
* {
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-out;
}

:root {
    font-size: 16px;
}

html,
body {
    height: 100%;
    line-height: 1.5;
    display: flex;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: lightgray;
        color: #1a1a1a;
    }

    a {
        color: #1a1a1a;
        text-decoration: none;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a1a1a;
        color: whitesmoke;
        text-shadow: 1px 1px black;
    }

    a {
        color: whitesmoke;
        text-decoration: none;
    }
}

#sidebar-menu {
    float: left;
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: 100%;
}

#sidebar-menu .bg {
    position: fixed;
    background-color: rgb(100, 56, 72, 0.75);
    width: 16rem;
    height: 100%;
    z-index: -1;
}

#sidebar-menu header {
    margin-top: 2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    flex: 0 0 auto;
}

#sidebar-menu header img {
    width: 14rem;
}

#sidebar-menu .navbody {
    flex: 1 0 auto;
}

#sidebar-menu .navbody a {
    display: block;
    padding: 0.75rem 1rem;
    text-decoration: none;
}

#sidebar-menu .navbody a:hover {
    display: block;
    color: #4CAF50;
    background-color: #555;
    font-weight: bold;    
}

#sidebar-menu .dropdown-content {
    background-color: rgba(123, 54, 79, 0.75);
    font-size: 0.85rem;
    text-indent: 1.5rem;
}

#sidebar-menu footer {
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    flex: 0 0 auto;
}

#sidebar-menu footer a {
    display: block;
    padding: 0.75rem 1rem;
    text-decoration: none;
}

#sidebar-menu footer a:hover {
    display: block;
    color: #4CAF50;
    background-color: #555;
    font-weight: bold;
}

.container {
    padding: 2rem 2rem 2rem 2rem;    
}

.container a {
    line-height: 2;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
}

.container a:hover {
    color: #4CAF50;
    background-color: #555;
    font-weight: bold;
}

.container #container-foot {
    display: none;
}

li {
    list-style-type: none;
}

img.ico {
    width: 1rem;
    display: inline-block;
    margin: 0 0.25rem 0 0;
}

a.active {
    background-color: #4CAF50;
    color: whitesmoke;
    font-weight: bold;
}

/* 按钮 */
button {
    border: none;
    background-color: #555;
    padding: 0.75rem 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

button:hover {
    color: #4CAF50;
    background-color: whitesmoke;
    font-weight: bold;
}

button:focus {
    color: whitesmoke;
    background-color: #4CAF50;
    font-weight: bold;
}