.main {
	margin: auto;
	position: absolute;
	top: 10%;
	left: 0%;
	right: 0%;
	bottom: 10%;
}

html {
	background: rgba(0, 0, 0, 0.7) url('../media/image/dirt.png');
	background-size: 10%;
	background-attachment: fixed;
	background-blend-mode: darken;
}

body,
td,
th {
	font-family: Minecraft, Unifont, sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 48px;
	text-align: center;
	color: whitesmoke;
	text-shadow: 1px 1px black;
}


.button {
	border: none;
	font-family: Minecraft, Unifont, sans-serif;
	width: 480px;
	height: 48px;
	background: url('../media/image/button/button_default.png');
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-origin: border-box;
	background-clip: border-box;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px gray;
	font-size: 20px;
}

.button:hover {
	transition: 0.1s;
	border: none;
	font-family: Minecraft, Unifont, sans-serif;
	width: 480px;
	height: 48px;
	background: url('../media/image/button/button_hover.png');
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-origin: border-box;
	background-clip: border-box;
	text-align: center;
	text-decoration: none;
	color: gold;
	text-shadow: 1px 1px black;
	font-size: 20px;
}

.button:focus {
	transition: 0.1s;
	border: none;
	font-family: Minecraft, Unifont, sans-serif;
	width: 480px;
	height: 48px;
	background: url('../media/image/button/button_pressed.png');
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-origin: border-box;
	background-clip: border-box;
	text-align: center;
	text-decoration: none;
	color: gold;
	text-shadow: 1px 1px black;
	font-size: 20px;
}

.buttonDark {
	border: none;
	font-family: Minecraft, Unifont, sans-serif;
	width: 480px;
	height: 48px;
	background: url('../media/image/button/button_locked.png');
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-origin: border-box;
	background-clip: border-box;
	text-align: center;
	text-decoration: none;
	color: whitesmoke;
	font-size: 20px;
	text-shadow: 1px 1px black;
	cursor: not-allowed;
}

/* 音乐播放和暂停 */
img#musicico {
	animation-name: music;
	animation-timing-function: linear;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

/* 实现动画的旋转 */
@keyframes music {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(365deg);
	}
}

.shiningText {
	position: absolute;
	top: 4%;
	left: 55%;
	right: 20%;
	transform: rotate(-30deg);
	font-size: 28px;
    color: gold;
	text-shadow: 1px 1px black;
    animation-name: shining;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
	}

@keyframes shining {
    0% {
		transform: scale(1) rotate(-30deg);
    }

    25% {
		transform: scale(.8) rotate(-30deg);
    }

    50% {
		transform: scale(1) rotate(-30deg);
    }

    75% {
		transform: scale(.8) rotate(-30deg);
    }
}
