* {
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-out;
}

:root {
    font-size: 16px;
}

html,
body {
    height: 100%;
    line-height: 1.5;
    padding: 2rem 2rem 2rem 2rem;  
    background-color: var(--backgroundcolor);
    color: var(--fontcolor);
}

@media (prefers-color-scheme: light) {
    :root {
        --backgroundcolor: lightgray;
        --inputcolor: whitesmoke;
        --fontcolor: #1a1a1a;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --backgroundcolor: #1a1a1a;
        --fontcolor: whitesmoke;
        text-shadow: 1px 1px black;
        --inputcolor: #111;
        --fontcolor: whitesmoke;
    }
}

a {
    color: var(--fontcolor);
    text-decoration: none;
}

a:hover {
    color: #4CAF50;
    background-color: #555;
    font-weight: bold;
}

a:focus {
    color: whitesmoke;
    background-color: #4CAF50;
    font-weight: bold;
}

h1 {
    margin: 1rem 0;
}

input,
textarea {
    border: none;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--fontcolor);
    background-color: var(--inputcolor);
}

input,
textarea :focus {
    border-left: 2px #fff;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

nav {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

nav h1 {
    flex: auto;
    margin: 0;
}

nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a,
nav ul li span,
header .action {
    display: block;
    padding: 0.5rem;
}

.content {
    padding: 0 1rem 1rem;
}

.content>header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
}

.content>header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}

.post>header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
}

.post>header>div:first-of-type {
    flex: auto;
}

.post>header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.post .about {
    color: slategray;
    font-style: italic;
}

.post .body {
    white-space: pre-line;
}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.content input,
.content textarea {
    margin-bottom: 1em;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

input.danger {
    color: #cc2f2e;
}

button,
input[type=submit] {
    border: none;
    padding: 0.75rem 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    align-self: start;
    min-width: 10em;
}

button,
input[type=submit]:hover {
    color: #4CAF50;
    background-color: #555;
    font-weight: bold;
}

button,
input[type=submit]:focus {
    color: whitesmoke;
    background-color: #4CAF50;
    font-weight: bold;
}